{% extends "base_generic.html" %}

{% block content %}
  <h1>Lbinf Home</h1>
  <p>Welcome to Lbinf, a website developed by <em>Mozilla Developer Network</em>!</p>
  <h2>Dynamic content</h2>
  <p>The project has the following record counts:</p>
  <ul>
    <li><strong>Datasets:</strong> {{ num_datasets }}</li>
    <li><strong>Papers:</strong> {{ num_papers }}</li>
  </ul>
{% endblock %}
